.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary{
    background-color: #FF3D68;
    color: #fff;
    text-decoration: none;
    width: 120px;
    height: 50px;
    padding: 16px 12px;
    border-radius: 10px;
    margin-right: 50px;
}

@media screen and (max-width: 800px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}